@font-face {
    font-family: Nulshock;
    src: url("./assets/fonts/nulshock.otf");
}

:root {
    --orbit-radius: 40rem;
    --sun-size: 18rem;
    --preview-window-width: 47.5vw;
    --preview-window-height: 95vh;
}

body {
    background-image: linear-gradient(to right top, #1b181f, #1a161f, #18141f, #17111f, #160e1f, #160c20, #150921, #150722, #150524, #150326, #150227, #150029);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: var(--preview-window-height);
}

#title {
    text-align: center;
    font-family: Nulshock, sans-serif;
    color: white;
    font-size: 2rem;
}

#solar-system {
    position: relative;
    margin-top: 3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: var(--preview-window-height);
}

#sun {
    position: absolute;
    width: var(--sun-size);
    height: var(--sun-size);
}

.orbit {
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
}

.planet {
    position: absolute;
}

#sun,
.orbit {
    transform: scale(.09);
    margin-top: -4rem;
}

#sun,
.planet,
.orbit {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.orbit:nth-of-type(1) .planet {
    animation: planet1 1s linear infinite;
    margin-top: 18rem;
    margin-left: 18rem;
    width: calc(var(--sun-size) * 0.3);
    height: calc(var(--sun-size) * 0.3);
}

.orbit:nth-of-type(2) .planet {
    animation: planet2 2.6s linear infinite;
    margin-top: 32rem;
    margin-left: 32rem;
    width: calc(var(--sun-size) * 0.8);
    height: calc(var(--sun-size) * 0.8);
}

.orbit:nth-of-type(3) .planet {
    animation: planet3 4.1s linear infinite;
    margin-top: 53rem;
    margin-left: 53rem;
    width: calc(var(--sun-size) * 0.9);
    height: calc(var(--sun-size) * 0.9);
}

.orbit:nth-of-type(4) .planet {
    animation: planet4 7.8s linear infinite;
    margin-top: 76rem;
    margin-left: 76rem;
    width: calc(var(--sun-size) * 0.4);
    height: calc(var(--sun-size) * 0.4);
}

.orbit:nth-of-type(5) .planet {
    animation: planet5 49.8s linear infinite;
    margin-top: 93rem;
    margin-left: 93rem;
    width: calc(var(--sun-size) * 1.8);
    height: calc(var(--sun-size) * 1.8);
}

.orbit:nth-of-type(6) .planet {
    animation: planet6 120.3s linear infinite;
    margin-top: 142rem;
    margin-left: 132rem;
    width: calc(var(--sun-size) * 2.2);
    height: calc(var(--sun-size) * .9);
}

.orbit:nth-of-type(7) .planet {
    animation: planet7 280.4s linear infinite;
    margin-top: 170rem;
    margin-left: 165rem;
    width: calc(var(--sun-size) * 1.5);
    height: calc(var(--sun-size) * 1);
}

.orbit:nth-of-type(8) .planet {
    animation: planet8 800.6s linear infinite;
    margin-top: 203rem;
    margin-left: 203rem;
    width: calc(var(--sun-size) * 0.7);
    height: calc(var(--sun-size) * 0.7);

}

.orbit:nth-of-type(1) {
    width: calc(1 * var(--orbit-radius));
    height: calc(1 * var(--orbit-radius));
}

.orbit:nth-of-type(2) {
    width: calc(2 * var(--orbit-radius));
    height: calc(2 * var(--orbit-radius));
}

.orbit:nth-of-type(3) {
    width: calc(3 * var(--orbit-radius));
    height: calc(3 * var(--orbit-radius));
}

.orbit:nth-of-type(4) {
    width: calc(4 * var(--orbit-radius));
    height: calc(4 * var(--orbit-radius));
}

.orbit:nth-of-type(5) {
    width: calc(5.5 * var(--orbit-radius));
    height: calc(5.5 * var(--orbit-radius));
}

.orbit:nth-of-type(6) {
    width: calc(7.5 * var(--orbit-radius));
    height: calc(7.5 * var(--orbit-radius));
}

.orbit:nth-of-type(7) {
    width: calc(9 * var(--orbit-radius));
    height: calc(9 * var(--orbit-radius));
}

.orbit:nth-of-type(8) {
    width: calc(10.5 * var(--orbit-radius));
    height: calc(10.5 * var(--orbit-radius));
}

@keyframes planet1 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) / 2)) rotate(-360deg);
    }
}

@keyframes planet2 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 2 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 2 / 2)) rotate(-360deg);
    }
}

@keyframes planet3 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 3 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 3 / 2)) rotate(-360deg);
    }
}

@keyframes planet4 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 4 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 4 / 2)) rotate(-360deg);
    }
}

@keyframes planet5 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 5.5 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 5.5 / 2)) rotate(-360deg);
    }
}

@keyframes planet6 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 7.5 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 7.5 / 2)) rotate(-360deg);
    }
}

@keyframes planet7 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 9 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 9 / 2)) rotate(-360deg);
    }
}

@keyframes planet8 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 10.5 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 10.5 / 2)) rotate(-360deg);
    }
}

.planets-container {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 5rem;
    column-gap: 0rem;
    width: 90%;
    margin-inline: auto;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-inline: 1rem;
    padding-block: 5rem;
}

.planets-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.planets-container::-webkit-scrollbar {
    border-radius: 10px;
    width: 12px;
    background-color: #F5F5F5;
}

.planets-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(54, 0, 87, 0.3);
    background-color: rgb(71, 1, 106);
}

.planet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 90%;
    height: 15rem;
    background: rgba(107, 27, 173, 0.18);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.7px);
    -webkit-backdrop-filter: blur(10.7px);
    border: 1px solid rgba(107, 27, 173, 0.5);
    transition: all .2s ease-in-out;
}

.planet-card:after {
    content: '';
    position: absolute;
    bottom: -2px;
    right: -2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 26px 26px;
    border-color: transparent transparent #150921 transparent;
}

.planet-card:hover {
    transform: scale(1.05);
}

.planet-name {
    margin-top: 1rem;
    font-weight: 700;
}

.planet-details {
    margin-top: .8rem;
}

.planet-image {
    width: 60%;
    margin-top: -8rem;
}

.planet-card span {
    color: white;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
}

.planet-speed,
.planet-size {
    display: flex;
    align-items: center;
    margin-inline: .2rem;
    margin-top: .4rem;
}

.planet-speed img,
.planet-size img {
    width: 1rem;
    margin-inline: .2rem;
}

.planet-speed span,
.planet-size span {
    font-size: .8rem;
    margin-left: .1rem;
}

.arrow-img {
    position: absolute;
    transform: rotate(90deg);
    bottom: 1rem;
    right: 1rem;
    height: 2rem;
}

#planet-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.planet-popup-container {
    position: absolute;
    width: 60vw;
    height: 70vh;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: .5rem;
    margin-inline: auto;
    background-color: #23043f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.planet-main-info {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
}

.planet-main-info img {
    width: 90%;
}

.planet-description {
    width: 100%;
    font-size: .9rem;
    font-weight: 400;
    margin-left: 3rem;
    margin-top: 5rem;
    margin-right: 3rem;
    text-align: center;
}

#popup-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 1rem;
}

#close {
    position: absolute;
    z-index: 1000;
    right: 2rem;
    top: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#close:hover {
    opacity: 1;
}

#close:before,
#close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 3px;
    background-color: rgb(255, 255, 255);
}

#close:before {
    transform: rotate(45deg);
}

#close:after {
    transform: rotate(-45deg);
}


@media only screen and (max-width: 1280px) {
    body {
        flex-direction: column-reverse;
        overflow-y: scroll;
    }

    #solar-system {
        width: 95%;
    }

    #sun,
    .orbit {
        margin-top: -1rem;
        transform: scale(.1);
    }

    #info {
        width: 80%;
    }

    .planets-container {
        overflow: hidden;
    }
}

@media only screen and (max-width: 1100px) {

    #sun,
    .orbit {
        transform: scale(.1);
    }

    .planet-popup-container {
        flex-direction: column;
    }

    .planet-description {
        font-size: clamp(.8rem, 1.5vw, .8rem); 
    }

    .planet-description {
        margin-top: -5rem;
        width: 80%;
    }

    .planet-main-info img {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {

    #sun,
    .orbit {
        transform: scale(.08);
    }

    #solar-system {
        margin-top: 0;
    }
}

@media only screen and (max-width: 680px) {
    .planet-description h2 {
        display: none;
    }

    .planet-main-info img {
        display: none;
    }
}

@media only screen and (max-width: 600px) {

    #sun,
    .orbit {
        transform: scale(.065);
    }

    #solar-system {
        margin-top: -7rem;
    }

    .planets-container {
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 490px) {
    #sun,
    .orbit {
        transform: scale(.055);
    }

    .planet-popup-container {
        width: 85%;
    }

    #popup-title {
        margin-top: -24rem;
    }

    #popup-description {
        margin-top: -20rem;
    }

}

@media only screen and (max-width: 425px) {
    .planets-container {
        grid-template-columns: auto;
    }

    #sun,
    .orbit {
        transform: scale(.04);
    }
}