:root {
    --orbit-radius: 40rem;
    --sun-size: 18rem;
    --preview-window-width: 50vw;
    --preview-window-height: 95vh;
}

body {
    background-image: linear-gradient(to right top, #1b181f, #1a161f, #18141f, #17111f, #160e1f, #160c20, #150921, #150722, #150524, #150326, #150227, #150029);
}

#solar-system {
    position: relative;
    margin-top: 2.5vh;
    height: var(--preview-window-height);
    width: var(--preview-window-width);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sun {
    position: absolute;
    width: var(--sun-size);
    height: var(--sun-size);
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.orbit {
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
}

.planet {
    position: absolute;
    pointer-events: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.orbit:nth-of-type(1) .planet {
    animation: orbit1 1s linear infinite;
    margin-top: 18rem;
    margin-left: 18rem;
    width: calc(var(--sun-size) * 0.3);
    height: calc(var(--sun-size) * 0.3);
}

.orbit:nth-of-type(2) .planet {
    animation: orbit2 2.6s linear infinite;
    margin-top: 32rem;
    margin-left: 32rem;
    width: calc(var(--sun-size) * 0.8);
    height: calc(var(--sun-size) * 0.8);
}

.orbit:nth-of-type(3) .planet {
    animation: orbit3 4.1s linear infinite;
    margin-top: 53rem;
    margin-left: 53rem;
    width: calc(var(--sun-size) * 0.9);
    height: calc(var(--sun-size) * 0.9);
}

.orbit:nth-of-type(4) .planet {
    animation: orbit4 7.8s linear infinite;
    margin-top: 76rem;
    margin-left: 76rem;
    width: calc(var(--sun-size) * 0.4);
    height: calc(var(--sun-size) * 0.4);
}

.orbit:nth-of-type(5) .planet {
    animation: orbit5 49.8s linear infinite;
    margin-top: 93rem;
    margin-left: 93rem;
    width: calc(var(--sun-size) * 1.8);
    height: calc(var(--sun-size) * 1.8);
}

.orbit:nth-of-type(6) .planet {
    animation: orbit6 12.3s linear infinite;
    margin-top: 142rem;
    margin-left: 132rem;
    width: calc(var(--sun-size) * 2.2);
    height: calc(var(--sun-size) * .9);
}

.orbit:nth-of-type(7) .planet {
    animation: orbit7 280.4s linear infinite;
    margin-top: 170rem;
    margin-left: 165rem;
    width: calc(var(--sun-size) * 1.5);
    height: calc(var(--sun-size) * 1);
}

.orbit:nth-of-type(8) .planet {
    animation: orbit8 800.6s linear infinite;
    margin-top: 203rem;
    margin-left: 203rem;
    width: calc(var(--sun-size) * 0.7);
    height: calc(var(--sun-size) * 0.7);

}

.orbit:nth-of-type(1) {
    width: calc(1 * var(--orbit-radius));
    height: calc(1 * var(--orbit-radius));
}

.orbit:nth-of-type(2) {
    width: calc(2 * var(--orbit-radius));
    height: calc(2 * var(--orbit-radius));
}

.orbit:nth-of-type(3) {
    width: calc(3 * var(--orbit-radius));
    height: calc(3 * var(--orbit-radius));
}

.orbit:nth-of-type(4) {
    width: calc(4 * var(--orbit-radius));
    height: calc(4 * var(--orbit-radius));
}

.orbit:nth-of-type(5) {
    width: calc(5.5 * var(--orbit-radius));
    height: calc(5.5 * var(--orbit-radius));
}

.orbit:nth-of-type(6) {
    width: calc(7.5 * var(--orbit-radius));
    height: calc(7.5 * var(--orbit-radius));
}

.orbit:nth-of-type(7) {
    width: calc(9 * var(--orbit-radius));
    height: calc(9 * var(--orbit-radius));
}

.orbit:nth-of-type(8) {
    width: calc(10.5 * var(--orbit-radius));
    height: calc(10.5 * var(--orbit-radius));
}

@keyframes orbit1 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) / 2)) rotate(-360deg);
    }
}

@keyframes orbit2 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 2 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 2 / 2)) rotate(-360deg);
    }
}

@keyframes orbit3 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 3 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 3 / 2)) rotate(-360deg);
    }
}

@keyframes orbit4 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 4 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 4 / 2)) rotate(-360deg);
    }
}

@keyframes orbit5 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 5.5 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 5.5 / 2)) rotate(-360deg);
    }
}

@keyframes orbit6 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 7.5 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 7.5 / 2)) rotate(-360deg);
    }
}

@keyframes orbit7 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 9 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 9 / 2)) rotate(-360deg);
    }
}

@keyframes orbit8 {
    from {
        transform: rotate(0deg) translateX(calc(var(--orbit-radius) * 10.5 / 2)) rotate(0deg);
    }

    to {
        transform: rotate(360deg) translateX(calc(var(--orbit-radius) * 10.5 / 2)) rotate(-360deg);
    }
}