:root{
    --orbit-radius: 35rem;
    --sun-size: 10rem;
    --preview-window-width: 50vw;
    --preview-window-height: 95vh;
}

body {
    background-color: black;
}

#solar-system {
    position: relative;
    border: 1px solid white;
    margin-top: 2.5vh;
    height: var(--preview-window-height);
    width: var(--preview-window-width);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sun {
    position: absolute;
    width: var(--sun-size);
    height:  var(--sun-size);
    background-color: rgb(207, 180, 5);
    border-radius: 50%;
}

.orbit {
    position: absolute;
    border-radius: 50%;
    border: 3px solid white;
}

.planet {
    border-radius: 50%;
    background-color: red;
}

.planet:nth-child(1) {
    width: calc(var(--sun-size) * 0.03504);
    height: calc(var(--sun-size) * 0.03504);;
}
.planet:nth-child(2) {
    background-color: wheat;
    width: 15rem;
    height: 15rem;
}
.planet:nth-child(3) {
    width: calc(var(--sun-size) * 0.03504);
    height: calc(var(--sun-size) * 0.03504);;
}
.planet:nth-child(4) {
    width: calc(var(--sun-size) * 0.03504);
    height: calc(var(--sun-size) * 0.03504);;
}
.planet:nth-child(5) {
    width: calc(var(--sun-size) * 0.03504);
    height: calc(var(--sun-size) * 0.03504);;
}
.planet:nth-child(6) {
    width: calc(var(--sun-size) * 0.03504);
    height: calc(var(--sun-size) * 0.03504);;
}
.planet:nth-child(7) {
    width: calc(var(--sun-size) * 0.03504);
    height: calc(var(--sun-size) * 0.03504);;
}
.planet:nth-child(8) {
    width: calc(var(--sun-size) * 0.03504);
    height: calc(var(--sun-size) * 0.03504);;
}

.orbit:nth-of-type(1) {
    width: calc(.4 * var(--orbit-radius));
    height: calc(.4 * var(--orbit-radius));
}
.orbit:nth-of-type(2) {
    width: calc(.7 * var(--orbit-radius));
    height: calc(.7 * var(--orbit-radius));
}
.orbit:nth-of-type(3) {
    width: calc(1 * var(--orbit-radius));
    height: calc(1 * var(--orbit-radius));
}
.orbit:nth-of-type(4) {
    width: calc(1.5 * var(--orbit-radius));
    height: calc(1.5 * var(--orbit-radius));
}
.orbit:nth-of-type(5) {
    width: calc(5.2 * var(--orbit-radius));
    height: calc(5.2 * var(--orbit-radius));
}
.orbit:nth-of-type(6) {
    width: calc(9.6 * var(--orbit-radius));
    height: calc(9.6 * var(--orbit-radius));
}
.orbit:nth-of-type(7) {
    width: calc(19.2 * var(--orbit-radius));
    height: calc(19.2 * var(--orbit-radius));
}
.orbit:nth-of-type(8) {
    width: calc(30.1 * var(--orbit-radius));
    height: calc(30.1 * var(--orbit-radius));
}